body{
    margin: 0;
    padding: 0;
    height: 110vh;
    width: 100%;
}

section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.oculto{
    display: none;
}

.vista-principal-class{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* formulario */
.formulario{
    box-shadow: 5px 5px 15px 5px #999893;
    width: 500px; 
    margin-top: 50px; 
    padding: 10px; 
    border-radius: 2%;
    flex-wrap: wrap;
}

.myClassCards{
    height: 300px;
    width: 300px;
    margin: 8px;
    overflow: auto;
    background-color: #f8f6f6;
}

.class-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

@media(min-width:1024px){
    .div-burger{
        display: none;
    }
}

@media(max-width:550px){
    .formulario{
        width: 300px;
    }
}